<%- layout('/layout/boilerplate.ejs') %>

<body>
    <div class="auth-content">
    
    <div class="auth-txt">
    <h2>Hey ! ,See if anyone found your lost property</h2>
    <form action="/login" method="POST" class="auth-form">
      <input type="email" name="username" placeholder="email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Sign In</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>

    <div class="or-divider">or</div>

    <!-- google route -->
<a href="/login/federated/google" class="google-btn" style="text-decoration: none;">
  <i class="fa-brands fa-google"></i>
  Sign in with Google
</a>
     <p>Forgot Password ? <a href="/login/forget-password">Reset password</a></p>
  </div>
  
    <img src="/images/users.png" alt="png" height="400px" class="user-img">

 </div>
</body>
